@import 'styles/variables.scss';

.reviews {
    display: flex;
    padding: 40px 45px;
    background-color: $lightGray;
    width: 65%;
    min-width: 740px;
    border-radius: 10px;
    transition: 0.3s;
    & > img {
        margin-right: 30px;
    }
}
.title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 20px;
}
.text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}
@media screen  and (max-width: 650px) {
    .reviews {
        flex-direction: column;
        min-width: 280px;
        height: 560px;
        & > img {
            width: 80px;
            height: 80px;
            margin-bottom: 20px;
        }
    }
    .title {
        margin-bottom: 10px;
    }
}