@import 'styles/variables.scss';

.aboutUs {
    width: 100vw;
    margin-top: 150px;
    position: relative;
    left: -160px;
    & > img {
        width: 60vw;
    }
}
.textBlock {
    background-color: $lightGray;
    width: 35%;
    max-width: 540px;
    padding: 60px 85px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translateY(-50%);
    & > h1 {
        margin: 0 0 40px;
    }
}
@media screen  and (max-width: 1090px) {
    .textBlock {
        padding: 60px 25px;
        width: 55%;
    }
}
@media screen  and (max-width: 650px) {
    .aboutUs {
        left: 0;
        width: calc(100% - 50px);
        & > img {
            width: calc(100vw - 50px);
        }
    }
    .textBlock {
        position: static;
        transform: translateY(0);
        width: calc(100vw - 50px);
        max-width: none;
        margin-top: 20px;
    }
}