@import "styles/variables.scss";

.header {
    background-image: url('assets/img/headerBGI.png');
    width: 100vw;
    height: 700px;
    background-size: cover;
    position: relative;
}
.navConteiner {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    & > a {
        margin: 30px 0 0 160px;
    }
    & > nav {
        margin: 45px 160px 0 0;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        & > *:not(:last-child) {
            margin-right: 20px;
        }
        & > * {
            text-decoration: none;
            &:visited {
                color: $white;
            }
        }
    }
}
.content {
    width: calc(100vw - 160px*2);
    margin: 150px auto 0;
    position: relative;
}
.title > p:first-child {
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    color: $white;
}
.title > p:nth-child(2n) {
    font-family: 'mr_KindlyJasmineG', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    color: $gold;
    margin: -40px 535px -35px;
}
.title > p:last-child {
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    color: $white;
    -webkit-text-stroke: 1px $white;
    -webkit-text-fill-color: transparent;
}
.socialNetworks {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 100px;
}
.imageList {
    display: flex;
    position: absolute;
    bottom: -110px;
    left: 1100px;
    & > img:not(:last-child) {
        margin-right: 20px;
    }
}