@import 'styles/variables.scss';

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 170px;
    background-color: $lightGray;
}
.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    & > a {
        text-decoration: none;
        &:visited {
            color: $text;
        }
    }
}
.socialNetworks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    & > div {
        display: flex;
        & > img {
            margin-right: 10px;
        }
        & > a {
            text-decoration: none;
            &:visited {
                color: $text;
            }
        }
    }
}
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    & > div {
        display: flex;
        align-items: center;
        & > img,
        & > a {
            margin-right: 10px;
        }
    }
}

@media screen  and (max-width: 650px) {
    .footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 250px;
        & > a > img {
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }
    .nav {
        text-align: center;
        & a {
            font-size: 12px;
        }
    }
    .socialNetworks {
        align-items: center;
        font-size: 12px;
    }
    .contacts {
        align-items: center;
        font-size: 12px;
    }
}